<div class="container">
  <div class="card bg-dark text-white m-2">
    <h2 class="card-header text-center">Signup Form</h2>
    <div class="card-body">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="form-group col-6">
            <label>First Name</label>
            <input
              type="text"
              class="form-control"
              formControlName="firstName"
              [ngClass]="{ 'is-invalid': submitted && h.firstName.errors }"
            />
            <div *ngIf="submitted && h.firstName.errors" class="text-warning">
              <div *ngIf="h.firstName.errors.required">
                First Name is required
              </div>
            </div>
          </div>
          <div class="form-group col-6">
            <label>Last Name</label>
            <input
              formControlName="lastName"
              [ngClass]="{ 'is-invalid': submitted && h.lastName.errors }"
              type="text"
              class="form-control"
            />
            <div *ngIf="submitted && h.lastName.errors" class="text-warning">
              <div *ngIf="h.lastName.errors.required">
                Last Name is required
              </div>
            </div>
          </div>
        </div>
        <div class="form-group mt-3">
          <label>Email</label>
          <input
            formControlName="email"
            [ngClass]="{ 'is-invalid': submitted && h.email.errors }"
            type="text"
            class="form-control"
          />
          <div *ngIf="h.email.touched && h.email.errors" class="text-warning">
            <div *ngIf="h.email.errors.required">Email is required</div>
            <div *ngIf="h.email.errors.email">
              Email must be a valid email address
            </div>
          </div>
        </div>

        <ng-container *ngIf="h.email.touched && h.email.errors">
          <div *ngIf="h.email.errors.required" class="text-danger">
            Value is required.
          </div>
        </ng-container>
        <div class="row mt-3">
          <div class="form-group col">
            <label>Password</label>
            <input
              formControlName="password"
              [ngClass]="{ 'is-invalid': submitted && h.password.errors }"
              type="password"
              class="form-control"
            />
            <div
              *ngIf="h.password.touched && h.password.errors"
              class="text-warning"
            >
              <div *ngIf="h.password.errors.required">Password is required</div>
              <div *ngIf="h.password.errors.minlength">
                Password must be at least 6 characters
              </div>
            </div>
          </div>
          <div class="form-group col">
            <label>Confirm Password</label>
            <input
              formControlName="confirmpassword"
              [ngClass]="{
                'is-invalid': submitted && h.confirmpassword.errors
              }"
              type="password"
              class="form-control"
            />
            <div
              *ngIf="h.confirmpassword.touched && h.confirmpassword.errors"
              class="text-warning"
            >
              <div *ngIf="h.confirmpassword.errors.required">
                Confirm Password is required
              </div>
              <div *ngIf="h.confirmpassword.errors.mustmatch">
                Passwords must match
              </div>
            </div>
          </div>
        </div>
        <div class="form-group form-check mt-3">
          <input type="checkbox" id="acceptTerms" class="form-check-input" />
          <label
            formControlName="acceptTandC"
            [ngClass]="{ 'is-invalid': submitted && h.acceptTandC.errors }"
            for="acceptTerms"
            class="form-check-label"
            >Accept Terms & Conditions</label
          >
          <div
            *ngIf="h.acceptTandC.touched && h.acceptTandC.errors"
            class="text-warning"
          >
            <div *ngIf="h.acceptTandC.errors.required">
              Accept Ts & Cs is required
            </div>
          </div>
        </div>
        <div class="text-center">
          <button class="btn btn-success px-4 me-3">Register</button>
          <button (click)="onReset()" class="btn btn-warning" type="reset">
            Reset
          </button>
          <p class="text white mt-3">Value: {{ registerForm.value | json }}</p>
          <p class="text white mt-3">Value: {{ registerForm.valid | json }}</p>
        </div>
      </form>
    </div>
  </div>
</div>
